<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="main-header">
        <div style="width: 20%; margin: auto; padding-left:20px;">
            <label> Select Questions </label>
        </div>
        <div style="width: 80%; margin: auto">
            <button class="btn" onclick="questionShow(1)">Question 1</button>
            <button class="btn" onclick="questionShow(2)"> Question 2</button>  
        </div>
    </div>
    {{{body}}}
  </body>
</html>
